.onboarding-container {
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  margin: auto;
  text-align: center;
  position: relative;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.onboarding-screens {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.onboarding-screen {
  min-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 0 0 10% 0;
}
.onboarding-screen img {
  width: 100px;
  height: 100px;
  margin: 0 0 10px;
}
.onboarding-screens h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: Quicksand, sans-serif;
  color: #39434f;
}
.onboarding-screen p, .onboarding-container a {
  padding: 0 20px;
  width: 70%;
  color: #808b9a;
  font-family: Quicksand, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 10px 0 0;
}
button {
  width: 80%;
  color: #fff;
  background-color: #33a5ec;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 17px 14px;
  border-radius: 14px;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 500;
}
.markers {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.marker {
  width: 12px;
  height: 5px;
  border-radius: 10px;
  background-color: #ccc;
  margin: 0 5px;
  transition: background-color 0.3s;
}
.marker.active {
  background-color: #33a5ec;
}
