.forget-password {
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 30px;
  gap: 20px;
  font-family: "Quicksand", sans-serif;
  position: relative;
}
.backarrow {
  align-self: flex-start;
  color: #000000;
  
}
.forget-password form{
    min-width: 350px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    font-family: "Quicksand", sans-serif;
}
.forget-password h1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 50px 0 0 0;
  font-family: "Quicksand", sans-serif;
}
.forget-password p{
    width: 100%;
    text-align: left;
    color: #000000B2;
    font-family: "Noto Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0 0 10px 0;
    font-family: "Quicksand", sans-serif;
}
.forget-password .input-field{
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
    gap: 5px;
}
.forget-password label{
    font-family: "MuseoModerno", sans-serif;
}
.forget-password input{
    width: 100%;
    outline: none;
    border: 1px solid #D8DADC;
    height: 100%;
    font-size: 1.2rem;
    padding: 12px 15px;
    border-radius: 10px;
    color: #39434f;
    font-weight: 500;
    font-family: "Noto Sans", sans-serif;
}
.forget-password button{
    width: 100%;
    color: #fff;
    background-color: #33a5ec;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 17px 14px;
    border-radius: 14px;
    margin: 20px 0 10px 0;
    font-size: 1rem;
    font-weight: 500;
    font-family: "MuseoModerno", sans-serif;
}
.login-link{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
    gap: 10px;
}
.login-link span{
    font-weight: 700 ;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}
.custom-link {
    text-decoration: none; 
    color: inherit; 
  }